<div class="heading-container">
    <div class="main wrapper clearfix">
        <article class="greeting">
            <div class="wrapper">
                <h2>{{greeting}}</h2>
                <h4>{{message}}</h4>
            </div>
        </article>
    </div>
</div>
