<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
<div class="scrollBoxBig">
	<h3 class = "trips"> Current Location </h3>
		<div class='square-box'>
    		<div class='square-content'><div><span>Map to be implemented</span></div></div>
		</div>
	<h3 class = "trips"> Trip Average </h3>
		<h3 id = "distance">XXXX Miles Time: XX:XX</h4>
	<h3 class="trips"> Recent Trip Cards </h3>
		<div class="scrollBox">
			<ul id="scrollList">
				<ul class="tripCard"></ul>
					<ul class="date"> XX/XX/XX </ul>
					<ul class="time"> XXXX miles</ul>
					<ul class="time">Time: XX:XX </ul>
				<ul class="tripCard"></ul>
					<ul class="date"> XX/XX/XX </ul>
					<ul class="time"> XXXX miles</ul>
					<ul class="time">Time: XX:XX </ul>
				<ul class="tripCard"></ul>
					<ul class="date"> XX/XX/XX </ul>
					<ul class="time"> XXXX miles</ul>
					<ul class="time">Time: XX:XX </ul>
				<ul class="tripCard"></ul>
					<ul class="date"> XX/XX/XX </ul>
					<ul class="time"> XXXX miles</ul>
					<ul class="time">Time: XX:XX </ul>
			</ul>
		</div>
</div>
</main>


