{{> header}}

{{> menu}}

<main>
    {{>information-head}}

    <article class="policy">
        <div class="policy-text">
            <ul>
                <li>
                    <h3>
                        <a href="./terms-of-service">Terms of Service</a>
                    </h3>
                    <h5>Last Updated: </h5><p>July 31st, 2017</p>
                </li>
                <li>
                    <h3>
                        <a href="./privacy">Privacy Policy</a>
                    </h3>
                    <h5>Last Updated: </h5><p>July 31st, 2017</p>
                </li>
            </ul>
        </div>
    </article>
</main>
