<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
	<h3 class="profileMenuOptions">Profile Settings</h3>
		<div class="scrollBox">
			<ul class="profileScrollList">
				<ul class="profileSetting">
					<li class="profileSettingOption">First name: Fname</li>
					<li class="profileSettingOption">Last name: Lname</li>
					<li class="profileSettingOption">Email Address: email</li>
					<li class="profileSettingOption">Birthday: bday</li>
					<li class="profileSettingOption">Phone number: 123-123-1248</li>
				</ul>				
			</ul>
        </div>
		<h3 class="profileMenuOptions">Vehicle Settings</h3>
		<div class="scrollBox">
			<ul class = "profileScrollList">
				<ul class="profileSetting">
					<li class="profileSettingOption">Vehicle Make: Chrysler</li>
					<li class="profileSettingOption">Vehicle Model: LeBaron</li>
					<li class="profileSettingOption">Insurance number: 123AZ-243-10432</li>
				</ul>
			</ul>
		</div>
</main>

{{> footer}}
