<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
	<div class="scrollBox">
	<h3 class="profileMenuOptions">Profile Settings</h3>		
			<ul class="profileSetting">
				<li class="profileSettingOption">First name: Fname</li>
				<li class="profileSettingOption">Last name: Lname</li>
				<li class="profileSettingOption">Email Address: email</li>
				<li class="profileSettingOption">Birthday: bday</li>
				<li class="profileSettingOption">Phone number: 123-123-1248</li>
			</ul>				
		       
	<h3 class="profileMenuOptions">Vehicle Settings</h3>	
		<ul class="profileSetting">
			<li class="profileSettingOption">Vehicle Make: Chrysler</li>
			<li class="profileSettingOption">Vehicle Model: LeBaron</li>
			<li class="profileSettingOption">Insurance number: 123AZ-243-10432</li>
		</ul>
	<h3 class="profileMenuOptions">Reward Settings</h3>
		<ul class="profileSetting">
			<li class="profileSettingOption">Current Reward Choice: Amazon</li>
		</ul>
	</div>
</main>

{{> footer}}
