<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
	<h3 class="profileMenuOptions">Profile Settings</h3>
		<div class="scrollBox">
			<ul id="profileScrollList">
				<ul class="profileSetting">
					<li class="profileSettingOption">First name: Fname</li>
					<li class="profileSettingOption">Last name: Lname</li>
				</ul>				
			</ul>
        </div>
</main>

{{> footer}}
