<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
    <article class="instructions">
        <section class="text">
        </section>
    </article>
    <article class="settings">
        <section class="error-console"></section>
        <form role="form">
            <fieldset class="presetting">
                <input id="preset" type="checkbox" name="preset" class="parent">
                <label for="preset"><h3></h3></label>
                <fieldset class="org-field">
                    <div class="wrapper">
                        <input type="text" name="org-name" maxlength="12">
                        <button type="button" name="apply-preset">Apply</button>
                    </div>
                </fieldset>
            </fieldset>
        </form>
    </article>
</main>

{{> footer}}
