<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
    <article class="instructions">
        <section class="text">
        </section>
    </article>
    <article class="settings">
        <section class="error-console"></section>
        <form role="form">
            <fieldset class="email">
                <input id="email" type="checkbox" name="email" class="parent">
                <label for="email"><h3></h3></label>
                <fieldset class="email-field">
                    <div class="wrapper">
                        <input type="text" name="email-name">
                    </div>
                </fieldset>
            </fieldset>
        </form>
    </article>
</main>

{{> footer}}
