<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
	<h3 class="rewardSecTitles">Current Points</h3>
		<h4 id="points">{{userData.points}}</h4>

	<h3 class="rewardSecTitles">Available Reward Cards</h3>
		<div class="scrollBox">
			<ul id="scrollList">
				<ul class="rewardCard">
					<li class="companyTitle">Amazon</li>
					<li>2,500 Pts</li>
					<li>$25.00</li>
				</ul>
				<ul class="rewardCard">
					<li class="companyTitle">Pottery Barn</li>
					<li>2,000 Pts</li>
					<li>$15.00</li>
				</ul>
				<ul class="rewardCard">
					<li class="companyTitle">Shell</li>
					<li>1,000 Pts</li>
					<li>$20.00</li>
				</ul>
				<ul class="rewardCard">
					<li class="companyTitle">Target</li>
					<li>5,000 Pts</li>
					<li>$45.00</li>
				</ul>
			</ul>
        </div>
</main>

{{> footer}}
