<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
	<h3 class="rewardSecTitles">Current Points</h3>
		<h4 id="points">{{userData.points}}</h4>

	<h3 class="rewardSecTitles">Available Reward Cards</h3>
		<div class="scrollBox">
			<ul id="scrollList">
				<ul class="rewardCard">
					<li class="companyTitle">Company A</li>
					<li>25,000 Pts</li>
					<li>$25.00</li>
				</ul>
				<ul class="rewardCard">
					<li class="companyTitle">Company B</li>
					<li>20,000 Pts</li>
					<li>$15.00</li>
				</ul>
				<ul class="rewardCard">
					<li class="companyTitle">Company C</li>
					<li>15,000 Pts</li>
					<li>$20.00</li>
				</ul>
				<ul class="rewardCard">
					<li class="companyTitle">Company D</li>
					<li>50,000 Pts</li>
					<li>$45.00</li>
				</ul>
			</ul>
        </div>
</main>

{{> footer}}
