{{> header}}

{{> menu}}

<main class="main-container">
    <div class="main wrapper clearfix">

        <article class="error-container">
            <h2>500</h2>
            <h3>Woops! There was an internal server error.</h3>
        </article>

    </div>
</main>
