<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
    <article class="">
        <p class="test">GENERATE LINK</p>
        <p class="test">CONFIRM LINK</p>
    </article>
</main>

{{> footer}}
