.profileMenuOptions {
	width: calc(100% - 20px);
	margin-top: 40px;
    height: 42px;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.05em;
    font-family: 'Muli';
    color: #FBFBFB;
    background: #1E1E1E;
}

.profileScrollList {
	width: 100%;
}

.profileSettingOption {
	color: #1E1E1E;
	width: 100%;
	background-color: lightgray;
	margin: 10px;
	padding: 0 5px;
	list-style: none;
	text-align: left;
	font-size: 10%;
}

.profileSetting {
	width: 100%;
	text-align: left;
	list-style: none;
}

/* Box styles. SOURCE: https://www.quackit.com/html/codes/html_scrollbars.cfm */
.scrollBox {
	border: none;
	padding: 5px;
	font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-family: 'Muli';
	width: 100%;
	height: calc(100% - 200px);
	overflow: scroll;
}

/* Scrollbar styles. SOURCE: https://www.quackit.com/html/codes/html_scrollbars.cfm */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
	background: #999;  
}
